.App {
  text-align: center;
}

.nav{
  display: flex;
  background-color: #9dbcdb;
  color:#fff;
  padding: 10px;
  margin-bottom:40px;
}

.content{
  width: 60%;
  margin:0 auto;
}

.sortBtn{
  display:block;
  margin:10px auto;
}

input{
  width:50%;
  padding:8px 0;
}

.list{
  padding-left: 20px;
  text-align: left;
  border:3px solid #91b398;
  margin:10px 0;
}

.modal{
  margin-top:20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}

.deleteBtn{
  padding:7px;
  margin:7px;
  background-color: #fe9a83;
  color:#fff;
  border-radius: 5px;
  border:none;
}

.addBtn{
  padding:7px;
  margin:7px;
  border-radius: 5px;
  border: 1px solid #fecf87;
  background-color: #fecf87;
}